<div
  class="group-block color-{{ block.settings.color_scheme }}"
>
  {% content_for 'blocks' %}
</div>

{% comment %}
  Podemos crear themes blocks que tengan otros themes block como hijos
    {
    "name": "Custom group",
    "blocks": [{ "type": "@theme" }, { "type": "@app" }], "le indicamos que este bloque permite theme blocks y app blocks"
    "settings": [
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "scheme-1"
      }
    ],
    "presets": [
      {
        "name": "Custom"
      },
      {
        "name": "Column",
        "settings": {
          "color_scheme": "scheme-3"
        },
        "blocks": [
          {
            "type": "text",
            "settings": {
              "text": "<h3>Hello, world!</h3>"
            }
          },
          {
            "type": "text",
            "settings": {
              "text": "<p>How's it going?<\/p>"
            }
          }
        ]
      }
    ]
  }
{% endcomment %}

{% schema %}
{
  "name": "Custom group",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Preset vacío del grupo de bloques"
    },
    {
      "name": "Preset del grupo de bloques con 2 text",
      "settings": {
        "color_scheme": "scheme-3"
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h3>Hola soy un conjunto de bloques predeterminado creado a mano!</h3>"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>sirvo para mostrar un preset de como usar el bloque<\/p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
